<ion-view class="login-bg">
    <ion-content>
        <div class="login-logo light" ng-click="resize();">
            <span class="bold positive">Jalsa Salana</span>
        </div>
        <div class="login-tab">
            <div class="button-bar" ng-show="logindata.email">
                <a class="button button-positive button-outline" ng-class="{'underline':tab=='signin'}" ng-click="tabchange('signin',1)"><span class="light">Sign In</span></a>
               
            </div>
            <div class="login" ng-show="tab=='signin'">
                <div class="list" ng-show="logindata.email">
                    <label class="item item-input item-floating-label" ng-class="allvalidation[0].validation">
                        <span class="input-label">Email</span>
                        <i class="icon ln-user"></i>
                        <input type="email" placeholder="Email" ng-model="signin.username">
                    </label>
                    <label class="item item-input item-floating-label" ng-class="allvalidation[1].validation">
                        <span class="input-label">Password</span>
                        <i class="icon ln-lock"></i>
                        <input type="password" placeholder="Password" ng-model="signin.password">
                    </label>
                </div>
                <div class="login-btn">
                    <button class="button button-block button-positive" ng-click="signinsubmit(signin);" ng-show="logindata.email">
                        Sign In
                    </button>
                    <!--<p class="light" ng-click="forgotpass()" ng-show="logindata.email">Forgot password?</p>-->
                    
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>
