<ion-view view-title="Invitees">
    <div class="text-center positive middle-align" ng-if="msg != ''">
        {{msg}}
    </div>
    <ion-content class="padding-bottom padding">
        <h3>Invitees</h3>
        <ion-item ng-repeat="inv in invite" class="item-text-wrap" >
        {{inv.name}} - {{inv.mcode}}
        </ion-item>
        <h3>Guests</h3>
        <ion-item ng-repeat="alm in allmem" class="item-text-wrap" >
        {{alm.name}} - {{alm.mcode}}
        </ion-item>
        <h3>Members</h3>
        <ion-item ng-repeat="cmem in c_mem" class="item-text-wrap" >
        {{cmem.name}}
        </ion-item>
    </ion-content>
</ion-view>
